{
  env: {
    "testing": {
      "presets": ["es2015"],
     },
     "rollingup": {
       "presets": [
        ["es2015", { "modules": false } ]
       ],
       "plugins": [
          "external-helpers"
        ]
     }
  }
}
